<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   <display-name>E-learning-project</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  
   <!-- JavaServer Faces defaults to JSP files for defining views
	To define the suffix we want we must specify .xhtml or whatever is the pattern we want
	-->
  <context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<!--
	Specifies if the state is saved on the client or on server
	-->
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
  
  
  
  	<!-- Faces Servlet -->
	<!-- All the requests go through the FacesServlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Faces Servlet Mapping -->
	<!-- All the requests/urls ending with .faces extension are redirected to the Faces Servlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- Faces Servlet Mapping -->
	<!-- All the requests/urls ending with .jsf extension are redirected to the Faces Servlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	
  
  <context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>avatar-upload</param-name> 
      <param-value>/home/rahima/Desktop/user-pics/</param-value> 
   </context-param>
  
  
  <filter>
  <filter-name>Adminregister</filter-name>
  <filter-class>com.elearning.filters.Adminregister</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>Adminregister</filter-name>
  <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
</web-app>
